body{
  background-color: rgb(219, 231, 231);
}
.notfound{
  text-align: center;
  grid-column-start: 1;
}

.container{
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1.5fr;
  padding: 1rem 1rem;
  grid-gap: 1rem;
}

.search{
  padding: 1rem;
  text-align: center;
  background: aliceblue;
  height: 23rem;
  opacity: 0.7;
  background-image: url("https://pixabay.com/get/gf635c1d19e18b9de8108898fb4c1cc0c657a1bf6d891621b965238283600e1ab569832b9655136a49f8ed5f3164669d0f9b79c67da03d142857d8514ff631470_1280.jpg");

}
.search_input{
  position: relative;
  top:8rem;
  background-color: rgb(251, 251, 253);
  border-color: #cec3c3;
  padding: 0.0625rem 0.75rem;
 
  height: 3.25rem;
  width: 70%;
  margin: 1rem;
  background: #fff;
  border-radius: 1rem;
  border: 4px solid #242323;
  font: normal 16px Open Sans,Arial,sans-serif;
  text-align: center;
}

.img__description {
  position: relative;
  /* top: 5rem; */
  margin: 1rem;
  bottom: 4rem;
  left: 0;
  right: 0;
  background: linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.items:hover .img__description {
  visibility: visible;
  opacity: 1;
}